

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/js/bootstrap.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
  <script type="text/javascript" src="/js/js"></script><script src="/js/js/main.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/js/js/grayscale.js"></script>


    <!-- Plugin JavaScript -->
    <script src="/js/js/jquery_002.js"></script>



    <!-- jQuery -->
    <script src="x2/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="x2/bootstrap.js"></script>

    <!-- Plugin JavaScript -->
    <script src="x2/jquery_002.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="x2/js"></script><script src="x2/main.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="x2/grayscale.js"></script>


